/* Fuente para lapágina*/
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');

/* Fuente para el meme*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


/*-------------------------- COLORES -------------------------------*/
:root{        /* Modo OSCURO*/
    --color-header:  #101010 ;      /* #191E2B; */
    --color-cont-ppal:  #202020;   /*  #30343F;*/
    --color-aside: #252935;
    --color-fuente: rgba(255,255,255,0.87);
    --color-fonfoBtn: #4E5565;

    color-scheme: dark;   /*color por defecto de win*/
    --transition: 0.1s ease-in-out;

    --variable-ancho-ppal:1300px; /* ------------------------- todavía no lo usé , veo si dsps lo borro*/
}  


:root[data-theme-color="light"] {     /* Modo CLARO*/

    --color-header: #E0E0E0;
    --color-cont-ppal:  #EEEEEE;
    --color-aside: #EBEBF4;       /*#FAFAFA;*/
    --color-fuente: #424242;
    --color-fonfoBtn: #BDBDBD;

    color-scheme: light;   /*color por defecto de win*/
}


  
/*-------------------------- CONFIG GENERAL -------------------------------*/
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    transition: var(--transition);
}

html{
    font-size: 20px;
    height: 100vh;
}

body{
    height: 100%; /* 100% del padre, que es el html*/
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lora', serif;
}


/*--------------------------- HEADER ------------------------*/
.contenedor-header{
    height: 15%;
    width: 100%;
    color: var(--color-fuente);
    background-color: var(--color-header);
    padding: 10px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.header-titulo{
    font-size: 1.3rem;
}
.nav-btn{
    all: unset;         /*Quita todo estilo por defecto.*/
    padding: 10px;
    font-size: 0.8rem;
}
.nav-btn:hover{
    background-color: var(--color-fonfoBtn);
    border-radius: 5px ;
}

.fa-sun-o:before { 
    content: "\f185"; /* Este valor es del icono del SOL (Font Awesome 4.7.0 Icon) */
}
.fa-moon-o:before { 
    content: "\f186"; /* Este valor es del icono del Luna (Font Awesome 4.7.0 Icon) */
}

/*--------------------- CONTENEDOR PRINCIPAL  ------------------------*/
.contenedor-ppal{
    width: 100%;
    height: 85%;
}

.contenedor-main{   /*contiene a:  main-img-txt y main-btn*/
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-cont-ppal);
    padding: 0px 20px;
}

.main-img-txt{

}

.main-img-txt{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-txt,.main-img{
    width: 450px;
}
.main-txt{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.5rem;
    color: black;
    background-color: white;
    text-align: center;
    padding: 10px 0px 10px 0px;
}

.main-img{
   /* all: unset;         /*Quita todo estilo por defecto.*/
    background-color: black;
    background-size: cover;
    height: 350px;
    -moz-force-broken-image-icon: 0;
}


.main-btn-descargar{
    all: unset;         /*Quita todo estilo por defecto.*/
    background-color: #a3be0a;
    border-radius: 5px ;
    padding: 10px;
    font-size: 0.8rem;
    margin-bottom: 20px;
    font-weight: bold;
}
.main-btn-descargar:hover{
    background-color: #e2f092;
}