/* Fuente para la página */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');

/* Fuente para el meme */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* Fuente para el Section-panel de txt e img */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* ============================= COLORES =============================*/
:root{                               /* Modo OSCURO*/
    --color-header:    #1f2937 ;    /*grey  800 */
    --color-seccion:     #374151;     /*grey  700 */
    --color-cont-ppal: #4b5563;     /*grey  600 */
    --color-fondoBtn:  #6b7280;     /*grey  500 */
    --color-fuente:    #f3f4f6;     /*grey  100 */
   
    --transition: color 0.1s, background-color 0.2s ease-in-out;

    color-scheme: dark;   /*color por defecto de win, para barras de scroll*/
    
    --color-hover:  #9d9ea0;
    --cajita_meme-tm-maximo: 600;
    --cajita_meme-tm-inicial-txt: 50;

    --alto-botones-paneles: 27;
    --ancho-panel-imgtxt: 280;
}  

:root[data-theme-color="light"] {     /* Modo CLARO*/
    --color-header:    #9ca3af;        /* gray 400*/
    --color-seccion:     #f3f4f6;       /*  gray 100*/
    --color-cont-ppal: #d1d5db;       /*  gray 300*/
    --color-fondoBtn:  #e5e7eb;       /*  gray 200*/
    --color-fuente:    #1f2937;       /*  gray 800*/
  
    color-scheme: light;  /*color por defecto de win, para barras de scroll*/
}

  
/* ============================= CONFIG GENERAL =============================*/
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    transition: var(--transition);
}

 html{
    font-size: 20px;
    height: 100vh;
} 

body{
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lora', serif;
}


/* ============================= HEADER =============================*/
.contenedor-header{
    height: 15%;
    width: 100%;
    color: var(--color-fuente);
    background-color: var(--color-header);
    padding: 10px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.header-titulo{
    font-size: 1.6rem;
}
.nav-btn{
    all: unset;         /* Quita todo estilo por defecto.*/
    padding: 10px;
    font-size: 0.8rem;
}
.nav-btn:hover{
    background-color: var(--color-fondoBtn);
    border-radius: 5px ;
}

.fa-sun-o:before { 
    content: "\f185"; /* Este valor es del icono del SOL (Font Awesome 4.7.0 Icon) */
}
.fa-moon-o:before { 
    content: "\f186"; /* Este valor es del icono del Luna (Font Awesome 4.7.0 Icon) */
}

/* -----  MEDIA QUERY ------- (solo el título del Header) */
 @media(width> 640px){
    .header-titulo{
        font-size: 2rem;
    }
}


/* ============================= CONTENEDOR PRINCIPAL  ============================= */
.contenedor-ppal{   /* Contiene a  "contenedor-main" y al "seccion". */
    width: 100%;
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: var(--color-cont-ppal);  
}

.contenedor-main{   /* Contiene a:  main-img-txt y main-btn. */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 35px 0px;
}

.main-img-txt{
    width: 100%;
    height: calc(var(--cajita_meme-tm-maximo) * 1px); 
    max-width: calc(var(--cajita_meme-tm-maximo) * 1px);    
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-txt,.main-img{
    width: 100%;
}

.main-txt{
    font-family: 'Bebas Neue', sans-serif;
    font-family:;
    font-size: 50px;
    text-align:center;
    color: black;
    background-color: white;
    padding: 10px 0px 10px 0px;
}
#main-txt-superior{
    position: static;
    top: 0;
}
#main-txt-inferior{
    position: static;
    bottom: 0;
}

.main-img{
    height: 80%;
    background-color: black;
    background-size: cover;
}

.main-btn-descargar{
    all: unset;         /* Quita todo estilo por defecto.*/
    background-color: #89a105;
    border-radius: 5px ;
    padding: 10px;
    font-size: 0.8rem;
    margin-top: 20px;
    font-weight: bold;
    cursor: pointer;
    color: black;
}
.main-btn-descargar:hover{
    background-color: #e2f092;
}


/* ============================= SECTION (para el panel de txt y img ================= */

.contenedor-paneles{
    width:calc(var(--ancho-panel-imgtxt) * 1px );
    height: 100%;
    display: none;
    flex-direction: column;
    background-color: var(--color-seccion);
    padding: 35px 10px 20px 10px;
    overflow-y: visible;  /*scroll y visible*/
    overflow-x: hidden; /*scroll x ocultar*/
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    font-family: 'Open Sans', sans-serif;
}

.panel-btn-cerrar{
    position: fixed;
    top: 15px;
    right: 20px;
    cursor: pointer;
    border-radius: 50%;
    border: 0px;
    font-size: 1rem;
}
.fa-times-circle-o:before { 
    content: "\f05c"; /* Valor del icono de CERRAR (Font Awesome 4.7.0 Icon) */
}

.ocultar{
    display: none;
}
.mostrar{
    display: block;
}

.panel-titulo{
    display: flex;
    justify-content: center;
}

.panel-sectores-controles{   /*Borde de cada control*/
    margin-top: 20px;
    border: 1px solid var(--color-cont-ppal);
    padding: 5px;
    border-radius: 10px;
}

.panel-img, .panel-txt{
    width: 100%;
    height: 100%;
}

input{
    background-color: var(--color-fondoBtn);
    color:var(--color-fuente);
    border: 0;          
    border-radius: 3px; 
    padding: 3px; 
    outline: none;      /* Borra un borde negro. */
}

input[type="url"]{
    width: 150px;
}


/*----------------------- SECTION: panel de IMAGEN -------------------*/
.contenedor-de-origen-y-fondo{
    display: flex;
    flex-direction: column;
}

.panel-sectores{  /*Para acomodar controles que van en fila. Ej: btn de URL y PC */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 5px;
} 

/*------------------ ORIGEN */
.alto-origen-img{
    height: 100px;
}

.seccion-img-btn-subir{  /* Para el btn de URL/PC. */
    background-color: var(--color-fondoBtn);
    border-radius: 5px ;
    border: 0px;
    box-shadow: 5px 5px 4px -3px var(--color-cont-ppal);
    padding: 3px;
    margin-bottom: 5px;
    font-size: 0.7rem;
    width: calc(50% - 2px);   /*110px;*/
    height: calc( var(--alto-botones-paneles)* 1px);
    cursor: pointer;  /*Para que aparezca la manito sobre el btn. */
}

.ocultar-input-subir-img{
    display: none;
}
.ver-input-subir-img{
    display: block;
}

input[type="url"]{
    height: calc( var(--alto-botones-paneles)* 1px);
    width: calc(100% - 0px);
    box-shadow: 5px 5px 4px -3px var(--color-cont-ppal);
}
::placeholder{  /* Modifica TXT  del placeholder del input-url */
    color: var(--color-fuente);
    font-size: 0.7rem;
} 

.archivo-img input{  /* Para btn subir desde PC*/
    display: none;
}
.archivo-img label{ /* Para btn subir desde PC*/
    margin-top: 3px;
    width: 100%;
    height: calc( var(--alto-botones-paneles)* 1px);
    background-color: var(--color-fondoBtn);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    cursor: pointer;
    font-size: 0.7rem;
    box-shadow: 5px 5px 4px -3px var(--color-cont-ppal);
}

/*------------------ FONDO */
.panel-sector-fondo-color{
    background-color: var(--color-fondoBtn);
    box-shadow: 5px 5px 4px -3px var(--color-cont-ppal);
    font-size: 0.7rem;
    width: calc(50% - 2px);   /*110px;*/
    border-radius: 3px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

[type="color"] {       /*Para que input=color, quede redondo*/
    display: inline-flex;
    vertical-align: bottom;
    justify-content: center;
    border: none;
}
::-webkit-color-swatch-wrapper { /*Para que input=color, quede redondo*/
    padding: 0;
    cursor: pointer;
    height: 20px; /*para el cículo de color*/
    width: 20px; /*para el cículo de color*/
    
}
::-webkit-color-swatch { /*Para que input=color, quede redondo*/
    border: 0;
    border-radius: 50%;
 }

.panel-sector-fondo-modoMezcla{
    background-color: var(--color-fondoBtn);
    box-shadow: 5px 5px 4px -3px var(--color-cont-ppal);
    border-radius: 3px;
    display: flex;
    width: calc(50% - 2px);   /*110px;*/
    height: var(--alto-botones-paneles)px;
}
.panel-sector-fondo-modoMezcla select{
  	border: 0;
	background-color: var(--color-fondoBtn);
	color: var(--color-fuente);
    font-size: 0.7rem;
    border-radius: 3px;
    cursor: pointer;
}

 
/* ------------------ Filtros */
.filtros{
    width: 100%;
    margin-top: 10px;
    font-size: 0.7rem;
    display: flex;
    flex-direction: column;
}

input[type='range'] {
    overflow: hidden;
    appearance: none;
    background-color: var(--color-fondoBtn);/*parte derecha*/
  }
  
input[type='range']::-webkit-slider-thumb {
    width: 10px;
    height: 10px;
    border-radius: 30%;
    -webkit-appearance: none;
    cursor: ew-resize;
    background: var(--color-header);
    box-shadow: -110px 0 0 110px var(--color-cont-ppal); /*parte izq*/
}

.seccion-img-btn-reestablecer{ /*  BTN reestablecer */
    width: 100%;
    border: 0px;
    background-color: var(--color-fondoBtn);
    border-radius: 5px ;
    padding: 7px;
    font-size: 0.7rem;
    margin-top: 15px;
    box-shadow: 5px 5px 4px -3px var(--color-cont-ppal);
    cursor: pointer;  
}

.archivo-img label:hover,
.panel-sector-fondo-color:hover, [type="color"]:hover,
.seccion-img-btn-subir:hover,
.panel-sector-fondo-modoMezcla select:hover, 
.panel-sector-fondo-modoMezcla:hover,
.seccion-img-btn-reestablecer:hover{
    background-color: var(--color-hover);
}


/*----------------------- SECTION: panel de TEXTO -------------------*/
.input-textarea-supInf{
    margin-top: 5px;
    resize: none;
    font-size: 0.9rem;
    background-color: var(--color-fondoBtn);
    width: 100%;
    height: 70px;
    overflow-y: scroll;
}

.checkbox-txt-supInf{
    font-size: 0.7rem;
}

.panel-sector-seleccionar-fuente{
    margin-top: 5px;
    background-color: var(--color-fondoBtn);
    box-shadow: 5px 5px 4px -3px var(--color-cont-ppal);
    border-radius: 3px;
    display: flex;
    width: 100%;
    height: var(--alto-botones-paneles)px;
}
.panel-sector-seleccionar-fuente select{
  	border: 0;
	background-color: var(--color-fondoBtn);
	color: var(--color-fuente);
    font-size: 0.7rem;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
    height: calc( var(--alto-botones-paneles)* 1px);
}

.contenedor-tmnTxt-alinear{   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.tamanio-txt-meme{
    margin-top: 5px;
    width: calc(50% - 2px);
    height: calc( var(--alto-botones-paneles)* 1px);
}

.btn-alinear{
    margin-top: 5px;
    background-color: var(--color-fondoBtn);
    border-radius: 5px ;
    border: 0px;
    box-shadow: 5px 5px 4px -3px var(--color-cont-ppal);
    font-size: 0.7rem;
    width: 30px;  
    height: calc( var(--alto-botones-paneles)* 1px);

    cursor: pointer;  /*Para que aparezca la manito sobre el btn. */
}

.input-textarea-supInf:hover,
.panel-sector-seleccionar-fuente select:hover, 
.panel-sector-seleccionar-fuente:hover,
.tamanio-txt-meme:hover, 
.btn-alinear:hover{
    background-color: var(--color-hover);
}



/* -----  MEDIA QUERY  "SECTION" -------  */
/*-- Cuando la ventana está es >=1300 el BTN CERRAR panel debe ocultarse.  */
@media(width> 1300px){
    .panel-btn-cerrar{
        display: none;
    }
}

/* Para ubicar el SECTION (txt e img) debajo de la Cajita-Meme. */
@media (width < 550px) {  /* PANELES flaquitos (UNA columna) y debajo*/
    body{
        height: auto;
    }
    .contenedor-ppal{ 
        position: relative;
        min-height: 88.9vh;
        top:0px;
        flex-direction: column;  /*esto cambia*/
    }
    .contenedor-main{
        position: relative;  
    }
    .contenedor-paneles{ 
        position: relative;  
        width: calc(var(--ancho-panel-imgtxt) * 1px);
        height: 800px;
        margin-bottom: 20px;
    }

    .panel-btn-cerrar{
        position: absolute;
        top: 10px;
        right: 10px;
    }
}

@media (550px <= width <= 850px) {  /* PANELES gorditos (DOS columnas) y debajo*/
    body{
        height: auto;
    }
    .contenedor-ppal{
        position: relative; 
        min-height: 87.9vh;
        top:0px;
        flex-direction: column;  /*esto cambia*/
    }
    .contenedor-main{
        position: relative;
    }
    .contenedor-paneles{
        position: relative;  /* fixed para que quede a la derecha*/
        width: calc(var(--ancho-panel-imgtxt) * 2px);
        height: 490px;
        margin-bottom: 30px;
    }
    .contenedor-para-poner-a-dos-columnas{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
 
    .filtros-col, .panel-sectores{
        width: calc(var(--ancho-panel-imgtxt) * 1px - 25px); 
    }
    .columnas-txt{
        width: calc(var(--ancho-panel-imgtxt) * 1px - 15px);
    }
    .panel-btn-cerrar{
        position: absolute;
        top: 10px;
        right: 10px;
    }
}